.Reset-container{
  font-family: sans-serif;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 332px; 
  grid-area: reset;
  cursor: pointer;
}
.Reset-label{
  font-size: 1.3em;
  margin: 0 10px;
  color: #d8d8d8;
}
.Reset-button{
  display: flex;
  align-items: center;
  justify-content: center; 
  width: 35px;
  height: 35px;
  color: white;
  font-size: 1.5em;
  border-radius: 35px;
  background-color: #d8d8d8;
}

@media screen and (max-width: 350px) {
  .Reset-container{
    width: 234px;
  }
}