.Word-field-container{
  width: 332px;
  height: 70px;
  display: grid;
  grid-template-columns: 0.75fr 0.25fr;
  font-family: sans-serif;
  border: 2px solid #979797;
  padding: 0 10px;
  align-items: center;
  grid-area: word-field;
}
.Word-field-check{
  justify-self: end;
}

.Word-field{
  font-weight: 800;
  font-size: 1.5em;
}

@media screen and (max-width: 350px) {
  .Word-field-container{
    width: 218px;
  }
}