body, html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Home-layout{
  width: 100%;
  column-gap: 100px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(4, auto);
  grid-template-areas: 
      "board reset"
      "board ."
      "board word-field";
}

@media screen and (orientation: portrait), screen and (max-width: 880px) {
  .Home-layout {
    grid-template-columns: auto;
    column-gap: 0;
    row-gap: 25px;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
      "reset"
      "board"
      "word-field"
  }
}

