.board{
    display: grid;
    grid-template-rows: repeat(4, auto);
    row-gap: 7px;
    grid-area: board;
}

@media screen and (orientation: portrait), screen and (max-width: 850px) {
    .board{
        row-gap: 3px
    }
}