.row{
  display: grid;
  width: 332px;
  grid-template-columns: repeat(4, auto);
  column-gap: 7px
}

@media screen and (orientation: portrait), screen and (max-width: 850px) {
  .row{
      column-gap: 3px;
  }
}

@media screen and (max-width: 350px) {
  .row{
      width: 234px;
  }
}