.Tile-container{
  display: flex;
  width: 70px;
  height: 70px;
  background-image: linear-gradient(#fad65f, #e65a1d);
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  border: 2px solid #9f041b;
  cursor: pointer;
}

.Tile{
  text-shadow: -1.5px -1.5px 1px rgba(100, 100, 100, 0.5);
  font-size: 2.5em;
  font-weight: 800;
  color: white;
  font-family: sans-serif;
}

@media screen and (max-width: 350px) {
  .Tile-container{
      width: 50px;
      height: 50px;
  }
  .Tile{
    font-size: 2em;
  }
}


